/*
* Map - Style
*/

.centered {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.svg-map {
  width: auto;
  height: 98vh;
  stroke: #4e211c;
  stroke-width: 1.5;}
.svg-map__location {
  cursor: pointer;
  shape-rendering: crispEdges;
  fill: transparent;}
.svg-map__location:focus, .svg-map__location:hover {
  fill: #ffc005;
  outline: 0; }
.svg-map__location[aria-checked=true] {
  fill: #188052 }